
@import url(http://fonts.googleapis.com/css?family=Vibur);

html,
body {
  height: 100%;
}

body {
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-size: cover;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue",sans-serif;
  font-weight: 300;
  font-size: 15px;
  /* line-height: 1.2; */
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #333; */
  /* animation */
  transition: background 0.4s ease-in-out;
}

body.day {
  background-image: url(../images/empty_wide.jpg);
}

body.night {
  background-image: url(../images/night_empty_wide.jpg);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.container {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /* remove selection */
  user-select: none;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 15px 0;
}

.cover-container {
  /* center */
  margin: 0 auto;
  /* border-radius: 2px; */
  /* border */
  /* border: 1px solid rgba(0, 0, 0, 0.9); */
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.65);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 3px 1px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.30), 0 1px 3px rgba(0, 0, 0, 0.5);
  cursor: default;
  /* social bar */
  overflow: hidden;
  /* animation */
  transition: background 0.4s ease-in-out;
}

body.night .cover-container {
  background-color: rgba(255, 255, 255, 0.10);
}

.inner {
  padding: 20px;
}

.cover-avatar {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 1);
  /* same as body */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  /* box-shadow: 25px 25px rgba(255, 255, 255, 0.32) inset; */
  /* box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.9), 1px 1px 3px 1px rgba(0, 0, 0, 0.2); */
  background-repeat: no-repeat;
  background-position: center;
  background-image:
    url(//2.gravatar.com/avatar/5674d32fd9778602c097731984f0ec96?s=100);
  /* glossy */
  overflow: hidden;
  /* animation */
  transition: background 0.4s ease-in-out;
}

.cover-avatar .glossy {
  width: 100%;
  height: 100%;
  background: transparent url(../images/glossy.png) no-repeat 0 0;
}

/* .cover-avatar:active */
.cover-avatar.hover {
  background-image:
    url(../images/avatar.png);
 }

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .cover-avatar {
    background-image:
      url(//2.gravatar.com/avatar/5674d32fd9778602c097731984f0ec96?s=200);
    background-size: 100px 100px;

  }

  /* .cover-avatar:active */
  .cover-avatar.hover {
    background-image:
      url(../images/avatar-2x.png);
    background-size: 100px 100px;
  }

}

.cover-heading {
  font-family: 'Vibur', cursive;
}

.social {
  background-color: rgba(0, 0, 0, 0.35);
}

p:last-of-type {
  margin: 0;
}

.footer p {
  font-size: 12px;
}

.footer a,
.footer a:visited,
.footer a:active {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px #fff dotted;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px #fff solid;
}

hr.soften {
  height: 1px;
  border: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}

/* footer */

.social-bar {
}

.social-bar i {
}

.social-bar i:hover {
}

nav a {
  position: relative;
  /* display: inline-block; */
  outline: none;
  color: #fff;
  /* text-decoration: none;
  text-transform: uppercase; */
  /* letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em; */
  margin: 10px;
}

nav a:hover,
nav a:focus {
  outline: none;
  color: rgba(255, 255, 255, 1);
}

.fade-transition {
  /* animation */
  transition: background 0.4s ease-in-out;
}

/* media queries */

@media (min-width: 768px) {


}

@media (min-width : 480px) {

  .cover-container {
    /* fixed */
    width: 450px;
  }

  .cover-heading {
    /* like h1 */
    font-size: 36px;
  }

}


