extends layout

block content
  #home.vignette
    .flex
      .container
        .row
          .span6.offset3
            #warning-browser.alert
              //
                button.close(data-dismiss="alert") ×
              strong Neeeein, ancient browser!&nbsp;
              | Please upgrade to a different browser for a full visual experience of this site.
            #box.effect3
              #avatar
                .overlay
              p.lead
                small hello
                | , i'm&nbsp;
                span outatime
              //
                hr.soften
              p Also known as&nbsp;
                strong Ariel Falduto
                | . Minimalist, perfectionist, passion for creating and design fancy stuff for the www, love trying out new technologies and experiences.

              hr.soften
              #social
                a.zocial.icon.twitter(title="Twitter", href="http://www.twitter.com/outa7iME") Twitter
                a.zocial.icon.github(title="GitHub", href="http://github.com/outaTiME") GitHub
                a.zocial.icon.dribbble(title="Dribbble", href="http://dribbble.com/players/outaTiME") Dribbble
                a.zocial.icon.linkedin(title="LinkedIn", href="http://ar.linkedin.com/in/afalduto") LinkedIn
                a.zocial.icon.email(title="Email", href="mailto:afalduto@gmail.com") Email

              hr.soften

              #sandbox.alert.alert-info(style="margin-top: 18px; margin-bottom: 0;")
                strong Looking for inspiration ?!?<br/>
                | Come on over&nbsp;
                a(title="Sandbox", href="http://sandbox.outa.im") here
                | &nbsp;and sit on daddy's lap.
