extends layout

block content
  #home.vignette
    .flex
      .container
        .row
          .span4.offset4

            #warning-browser.alert.alert-info
              button.close(data-dismiss="alert") ×
              strong Your browser is ancient! 
              a(href="http://browsehappy.com/") Upgrade to a different browser 
              | or 
              a(href="http://www.google.com/chromeframe/?redirect=true") install Google Chrome Frame 
              | to experience this site.

            #box.effect3
              a
                #avatar
                  .overlay
              p.lead
                small Hello
                | , i'm 
                span outaTiME
              hr.soften
              footer.footer
                p Also known as 
                  strong Ariel Falduto
                  | , I can be reached at 
                  a(href="mailto:afalduto@gmail.com") afalduto@gmail.com
