
@import "bootstrap/bootstrap.less";

@import "bootstrap/responsive.less";

.touch * {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  
  /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-touch ::selection {
  color: #fff;
  background: #f676b2;
}

.no-touch ::-moz-selection {
  color: #fff;
  background: #f676b2;
}

/* input, textarea, select {
  -webkit-user-select: auto;
  -webkit-touch-callout: auto;
} */

body {
  background: url("/images/groovepaper.png") center top repeat;
}

#home .flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

#home #box {
  padding: 18px;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#home #box #avatar {
  background: url("/images/avatar.png") no-repeat 0 0;
  height: 100px;
  width: 100px;
  margin: 0 auto 18px;
  display: block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

#home #box #avatar.plate {
  background-position: 0px -200px;
}

#home #box #avatar.real {
  background-position: 0px -100px;
}

#home #box #avatar div.overlay {
  background: transparent url("/images/note-overlay.png") no-repeat 0 0;
  width: 100%;
  height: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Vibur);

// @import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);
// @import url(http://fonts.googleapis.com/css?family=Give+You+Glory);
// @import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
// @import url(http://fonts.googleapis.com/css?family=Patrick+Hand);
// @import url(http://fonts.googleapis.com/css?family=Indie+Flower);
// @import url(http://fonts.googleapis.com/css?family=Handlee);

#home #box .lead {
  margin-bottom: 0;
  
  font-family: 'Vibur', cursive;

  // font-family: 'Waiting for the Sunrise', cursive;
  // font-family: 'Give You Glory', cursive;
  // font-family: 'Annie Use Your Telescope', cursive;
  // font-family: 'Patrick Hand', cursive;
  // font-family: 'Indie Flower', cursive;
  // font-family: 'Handlee', cursive;

}

#home #box .lead small {
  font-size: 32px;
  font-weight: 200;
}

#home #box .lead span {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

#home #box footer p:last-child {
  margin-bottom: 0;
}

#warning-browser {
  display: none;
}

#warning-browser.alert {
  padding: 8px 14px;
  text-align: center;
}

/** Modernizr **/

.no-cssanimations #warning-browser,
.no-cssgradients #warning-browser,
.no-csstransforms #warning-browser,
.no-borderradius #warning-browser,
.no-boxshadow #warning-browser, 
.no-fontface #warning-browser {
  display: block;
}

/* Pixel ratio of 1.5. Background-size is 1/1.5 = 66.67% (of a 150px image) */
/* only screen and (-o-min-device-pixel-ratio: 3/2), */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), 
  only screen and (-webkit-min-device-pixel-ratio: 1.5), 
  only screen and (min-device-pixel-ratio: 1.5) {

  body {
    background-size: 200px 200px;
  }

  #home #box #avatar {
    background-image: url("/images/avatar@x1.5.png");
    -webkit-background-size: 150px 450px;
  }

  #home #box #avatar.plate {
    background-position: 0px -300px;
  }

  #home #box #avatar.real {
    background-position: 0px -150px;
  }

}

/* Pixel ratio of 2. Background-size is 1/2 = 50% (of a 200px image) */
/* only screen and (-o-min-device-pixel-ratio: 2/1), */
@media only screen and (-moz-min-device-pixel-ratio: 2), 
  only screen and (-webkit-min-device-pixel-ratio: 2), 
  only screen and (min-device-pixel-ratio: 2) {

  body {
    background-size: 150px 150px;
  }

  #home #box #avatar {
    background-image: url("/images/avatar@x2.png");
    -webkit-background-size: 200px 600px;
  }

  #home #box #avatar.plate {
    background-position: 0px -400px;
  }

  #home #box #avatar.real {
    background-position: 0px -200px;
  }

}

/** Experiments **/

.vignette {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-radial-gradient(50% 50%, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
  background-image:    -moz-radial-gradient(50% 50%, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
  background-image:     -ms-radial-gradient(50% 50%, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
  background-image:      -o-radial-gradient(50% 50%, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
}

.effect3 {
  position: relative;
}

.effect3:before,
.effect3:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 90%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.effect3:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#home .container {
// #home #box #avatar {
  -webkit-animation: load 0.4s;
  -moz-animation: load 0.4s;
  -ms-animation: load 0.4s;
  -o-animation: load 0.4s;
}

@-webkit-keyframes load {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes load {
  from {
    -moz-transform: scale(0);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes load {
  from {
    -ms-transform: scale(0);
    opacity: 0;
  }
  to {
    -ms-transform: scale(1);
  }
}

@-o-keyframes load {
  from {
    -o-transform: scale(0);
    opacity: 0;
  }
  to {
    -o-transform: scale(1);
  }
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
